{% extends 'template.html.twig' %}

{% block content %}

<h1>Modifier l'animateur : {{ toEdit.prenom }} {{ toEdit.nom }}</h1>


<form action="animateur/edit/{{ toEdit.id }}" method="post" class="form">
  <div class="form-example">
    <h3>Informations</h3>
    <select name="civilite">   
        {% for elem in civilite %}
        <option selected="{{ toEdit.civilite_id_id }}" value="{{ elem.id }}">{{ elem.nom }}</option>
        {% endfor %}
    </select>
    <label for="nom" name="nom">Nom
    <input type="text" name="nom" id="nom" value="{{ toEdit.nom }}"required></label>

    <label for="prenom" name="prenom">Prénom
    <input type="text" name="prenom" id="prenom" value="{{ toEdit.prenom }}"required></label>

     <select name="fonction">
        {% for elem in fonction %}
        <option  selected="{{ toEdit.fonction_animateur_id_id }}"value="{{ elem.id }}">{{ elem.fonction_nom }}</option>
        {% endfor %}
    </select>
 
    <select name="statut">
        {% for elem in statut %}
        <option selected="{{ toEdit.statut_animateur_id_id }}" value="{{ elem.id }}">{{ elem.status_nom }}</option>
        {% endfor %}
    </select>

    <label for="gta" name="gta">Gestion Technique et Administrative</label>
    <input type="checkbox" name="gta" id="name">
    
    <h3>Adresse</h3>

    <label for="raison_sociale" name="raison_sociale">Raison sociale
    <input type="text" name="raison_sociale" id="raison_sociale" value="{{ toEdit.raison_sociale }}"></label>

    <label for="adresse" name="adresse">Numéro et nom de rue
    <input type="text" name="adresse" id="adresse" value="{{ toEdit.adresse }}" required></label>

    <label for="code_postal" name="code_postal">Code postal
    <input type="text" name="code_postal" id="code_postal" value="{{ toEdit.code_postal }}"></label>

    <label for="ville" name="ville">Ville
    <input type="text" name="ville" id="ville" value="{{ toEdit.commune }}"></label>

    <label for="region" name="region">Région
    <input type="text" name="region" id="region" value="{{ toEdit.region }}"></label>


    <h3>Contact</h3>

    <label for="tel_portable" name="tel_portable">Téléphone portable
    <input type="text" name="tel_portable" id="tel_portable" value="{{ toEdit.tel_portable }}"></label>

    <label for="tel_fixe" name="tel_fixe">Téléphone fixe
    <input type="text" name="tel_fixe" id="tel_fixe" value="{{ toEdit.tel_fixe }}"></label>

    <label for="email" name="email">Adresse e-mail
    <input type="text" name="email" id="email" value="{{ toEdit.email }}"></label>


    <h3>Autres</h3>

    <label for="urssaf" name="urssaf">Urssaf
    <input type="text" name="urssaf" id="urssaf" value="{{ toEdit.urssaf }}"></label>

    <label for="siret" name="siret">SIRET
    <input type="text" name="siret" id="siret" value="{{ toEdit.siret }}"></label>

    <label for="observations" name="observations">Observations
    <input type="text" name="observations" id="observations" value="{{ toEdit.observations }}"></label>

    <input type="submit" value="Modifier">
</form>

{% endblock %}