{% extends 'template.html.twig' %}

{% block content %}
  <h1>Modifier le tribunal : {{toEdit.tribunal_nom}}</h1>
  <form action="tribunal/edit/{{toEdit.id}}" method="post" class="form form-tribunal form-tribunal-edit">
    <div class="form-group">
        <label for="tribunal_nom" class="form-label">Tribunal *</label>
        <input type="text" class="form-input firstLetterUpper" id="tribunal_nom" name="tribunal_nom" value="{{toEdit.tribunal_nom | raw }}" />
        <p class="form-msg-error 
        {% if error is defined %} 
            {% if error != 'exist' %}
                hidden
            {% endif %}
        {% else %}
            hidden             
        {% endif %}
        " id="msg-tribunal_nom" >
            {% if toEdit.tribunal_nom is defined %} 
                {% if error == 'exist' %} 
                    Veuillez saisir un autre tribunal car celui que vous venez de saisir existe déjà.
                {% else %}
                    {% if toEdit.tribunal_nom == '' %} 
                        Veuillez saisir un tribunal
                    {% endif %}  
                {% endif %}                
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" class="form-input " id="adresse" name="adresse" value="{{ toEdit.adresse| raw  }}" />        
    </div>
    <div class="form-group">
        <label for="code_postal" class="form-label">Code postal *</label>
        <input type="text" class="form-input " id="code_postal" name="code_postal" value="{{ toEdit.code_postal| raw  }}" />
        <p class="form-msg-error 
        {% if error is not defined %}             
                hidden                
        {% endif %}
        " id="msg-code_postal" >
            {% if toEdit.code_postal is defined %}                 
                    {% if toEdit.code_postal == '' %} 
                        Veuillez saisir un code postal
                    {% endif %}                                
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="commune" class="form-label">Commune *</label>
        <input type="text" class="form-input shift" id="commune" name="commune" value="{{ toEdit.commune| raw }}" />
        <p class="form-msg-error 
        {% if error is not defined %}             
                hidden                
        {% endif %}
        " id="msg-commune" >
            {% if toEdit.commune is defined %}                 
                    {% if toEdit.commune == '' %} 
                        Veuillez saisir une commune
                    {% endif %}                                
            {% endif %}
        </p>
    </div>    
    <div class="form-group">
        <label for="autorite_tribunal" class="form-label">Autorité</label>
         <select id="autorite_tribunal"  name="autorite_tribunal" id="autorite_tribunal" class="form-input small-select capitalize" >
            {% if toEdit.autorite_nom is null %}
                <option value="autorite_tribunal"  selected disabled>Autorité</option>   
                {% for elem in autorite %}                    
                    <option value="{{ elem.id }}" >{{ elem.autorite_nom| raw  }}</option>                    
                {% endfor %}
            {% else %}
                <option value="autorite_tribunal"  disabled>Autorité</option>   
                {% for elem in autorite %}
                    {% if elem.autorite_nom == toEdit.autorite_nom %}
                        <option value="{{ elem.id }}" selected >{{ elem.autorite_nom| raw }}</option>
                    {% else %}
                        <option value="{{ elem.id }}"  >{{ elem.autorite_nom| raw  }}</option>
                    {% endif %}
                {% endfor %}
        {% endif %}
        </select>
        <button type="button" class="form-button small-btn inline-btn btn-add-autorite-tribunal">+</button>        
    </div>
    <div class="form-group">
        <label for="service_tribunal" class="form-label">Service</label>
         <select name="service_tribunal" id="service_tribunal" class="form-input small-select capitalize " >
        {% if toEdit.service_nom is null %}
                <option value="service_tribunal"  selected disabled>Service</option>   
                {% for elem in service %}                    
                    <option value="{{ elem.id }}" >{{ elem.service_nom |raw }}</option>                    
                {% endfor %}
            {% else %}
                <option value="service_tribunal"  disabled>Service</option>   
                {% for elem in service %}
                    {% if elem.service_nom == toEdit.service_nom %}
                        <option value="{{ elem.id }}" selected >{{ elem.service_nom | raw }}</option>
                    {% else %}
                        <option value="{{ elem.id }}"  >{{ elem.service_nom | raw }}</option>
                    {% endif %}
                {% endfor %}
        {% endif %}
            
        </select>
        <button type="button" class="form-button small-btn inline-btn btn-add-service-tribunal">+</button>       
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  <div id="alertUser" >
  </div>
  {% if error is defined %}
          <div class="boxOverlay" >
              <div class="modal fas fa-exclamation-triangle">
                  {%if error == 'exist' %}           
                      <p class="modal-message">Le tribunal avec la même autorité, service, nature et adresse existe déjà dans la table Tribunal.</p> 
                  {% else %}         
                      <p class="modal-message">Merci de saisir les champs signalés par un message d'erreur.</p> 
                  {% endif %}
                  <button type="button" class="modal-btn form-login-button modal-btn-ok" >OK</button>
              </div>
          </div>
      {% endif %}
    {% endblock %}

    {% block javascript %} 
      <script src="assets/js/app.js" ></script>
    {% endblock %}
