{% extends 'template.html.twig' %}

{% block content %}

<h1>Modifier : {{ toEdit.prefecture_nom }}</h1>


<form action="prefecture/edit/{{ toEdit.id }}" method="post" class="form">
  <div class="form-example">

    <label for="edit_prefecture_nom" name="edit_prefecture_nom">Préfecture
    <input type="text" name="edit_prefecture_nom" id="name" value="{{ toEdit.prefecture_nom }}"required></label>

    <select name="edit_autorite_prefecture">
        {% for elem in autorite %}
        <option value="{{ elem.id }}" {% if toEdit.autorite_nom == elem.autorite_nom %} selected {% endif %}>{{ elem.autorite_nom }}</option>
        {% endfor %}
    </select>

    <select name="service_prefecture"> 
        {% for elem in service %}
        <option value="{{ elem.id }}" {% if toEdit.service_nom == elem.service_nom %} selected {% endif %}>{{ elem.service_nom }}</option>
        {% endfor %}
    </select>
   <label for="adresse" name="adresse">Adresse
    <input type="text" name="adresse" id="adresse" value="{{ toEdit.adresse }}"required></label>

    <label for="code_postal" name="code_postal">Code postal
    <input type="text" name="code_postal" id="cp" value="{{ toEdit.code_postal }}"required></label>

     <label for="commune" name="commune">Commune
    <input type="text" name="commune" id="commune" value="{{ toEdit.commune }}"required></label>

    <input type="submit" value="Modifier">
</form>

{% endblock %}