{% extends 'template.html.twig' %}

{% block content %}
  <h1>Modifier la  préfecture : {{toEdit.prefecture_nom }}</h1>
  <form action="prefecture/edit/{{toEdit.id}}" method="post" class="form form-prefecture form-prefecture-edit">
    <div class="form-group">
        <label for="prefecture_nom" class="form-label">Préfecture *</label>
        <input type="text" class="form-input capitalize" id="prefecture_nom" name="prefecture_nom" value="{{toEdit.prefecture_nom | raw }}" />
        <p class="form-msg-error 
        {% if error is defined %} 
            {% if error != 'exist' %}
                hidden
            {% endif %}
        {% else %}
            hidden             
        {% endif %}
        " id="msg-prefecture_nom" >
            {% if toEdit.prefecture_nom is defined %} 
                {% if error == 'exist' %} 
                    Veuillez saisir une autre prefecture car celle que vous venez de saisir existe déjà.
                {% else %}
                    {% if toEdit.prefecture_nom == '' %} 
                        Veuillez saisir une préfecture
                    {% endif %}  
                {% endif %}                
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" class="form-input capitalize" id="adresse" name="adresse" value="{{ toEdit.adresse| raw  }}" />        
    </div>
    <div class="form-group">
        <label for="code_postal" class="form-label">Code postal *</label>
        <input type="text" class="form-input capitalize" id="code_postal" name="code_postal" value="{{ toEdit.code_postal| raw  }}" />
        <p class="form-msg-error 
        {% if error is not defined %}             
                hidden                
        {% endif %}
        " id="msg-code_postal" >
            {% if toEdit.code_postal is defined %}                 
                    {% if toEdit.code_postal == '' %} 
                        Veuillez saisir un code postal
                    {% endif %}                                
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="commune" class="form-label">Commune *</label>
        <input type="text" class="form-input capitalize" id="commune" name="commune" value="{{ toEdit.commune| raw }}" />
        <p class="form-msg-error 
        {% if error is not defined %}             
                hidden                
        {% endif %}
        " id="msg-commune" >
            {% if toEdit.commune is defined %}                 
                    {% if toEdit.commune == '' %} 
                        Veuillez saisir une commune
                    {% endif %}                                
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="autorite_prefecture" class="form-label">Autorité</label>
         <select id="autorite_prefecture"  name="autorite_prefecture" id="autorite_prefecture" class="form-input small-select capitalize" >
            {% if toEdit.autorite_nom is null %}
                <option value="autorite_prefecture"  selected disabled>Autorité</option>   
                {% for elem in autorite %}                    
                    <option value="{{ elem.id }}" >{{ elem.autorite_nom| raw  }}</option>                    
                {% endfor %}
            {% else %}
                <option value="autorite_prefecture"  disabled>Autorité</option>   
                {% for elem in autorite %}
                    {% if elem.autorite_nom == toEdit.autorite_nom %}
                        <option value="{{ elem.id }}" selected >{{ elem.autorite_nom| raw }}</option>
                    {% else %}
                        <option value="{{ elem.id }}"  >{{ elem.autorite_nom| raw  }}</option>
                    {% endif %}
                {% endfor %}
        {% endif %}
        </select>
        <button type="button" class="form-button small-btn inline-btn btn-add-autorite">+</button>        
    </div>
    <div class="form-group">
        <label for="service_prefecture" class="form-label">Service</label>
         <select name="service_prefecture" id="service_prefecture" class="form-input small-select capitalize " >
        {% if toEdit.service_nom is null %}
                <option value="service_prefecture"  selected disabled>Service</option>   
                {% for elem in service %}                    
                    <option value="{{ elem.id }}" >{{ elem.service_nom |raw }}</option>                    
                {% endfor %}
            {% else %}
                <option value="service_prefecture"  disabled>Service</option>   
                {% for elem in service %}
                    {% if elem.service_nom == toEdit.service_nom %}
                        <option value="{{ elem.id }}" selected >{{ elem.service_nom | raw }}</option>
                    {% else %}
                        <option value="{{ elem.id }}"  >{{ elem.service_nom | raw }}</option>
                    {% endif %}
                {% endfor %}
        {% endif %}
            
        </select>
        <button type="button" class="form-button small-btn inline-btn btn-add-service">+</button>       
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  <div id="alertUser" >
  </div>
  {% if error is defined %}
          <div class="boxOverlay" >
              <div class="modal fas fa-exclamation-triangle">
                  {%if error == 'exist' %}           
                      <p class="modal-message">La préfecture avec la même autorité, service et adresse existe déjà dans la table Préfecture.</p> 
                  {% else %}         
                      <p class="modal-message">Merci de saisir les champs signalés par un message d'erreur.</p> 
                  {% endif %}
                  <button type="button" class="modal-btn form-login-button modal-btn-ok" >OK</button>
              </div>
          </div>
      {% endif %}
    {% endblock %}

    {% block javascript %} 
      <script src="assets/js/app.js" ></script>
    {% endblock %}
