{% extends 'template.html.twig' %} {% block content %}



<h1 class="list-title">Liste des tribunaux</h1>
<div class="container-new-button">
    <a class="new-button plus" href="tribunal/new">
        <span class="bg" id="plus"></span>
        <span class="symbol"></span>
    </a>
    <p class="title-new-button">
        <h3>Nouveau</h3>
    </p>
</div>
<section class="list-table">
    <table>
        <thead>
            <tr>
                <th>Nom Tribunal</th>
                <th>Nature</th>
                <th>Autorité</th>
                <th>Service</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>
                    <a class="circle-button">
                        <img class="th" src="assets/media/flaticons/see.png" width="40">
                        <p class="legend-button">voir</p>
                    </a>

                </th>
                <th>
                    <a class="circle-button">
                        <img class="th" src="assets/media/flaticons/edit.png" width="40">
                        <p class="legend-button">modifier</p>
                    </a>

                </th>
                <th>
                    <a class="circle-button">
                        <img class="th" src="assets/media/flaticons/delete.png" width="40">
                        <p class="legend-button">supprimer</p>
                    </a>
                </th>
            </tr>
        </thead>
        {% for elems in list %}
        <tr>
            <td>{{ elems.tribunal_nom }}</td>
            <td>{{ elems.nature_nom}}</td>
            <td> {{ elems.autorite_nom }}</td>
            <td>{{ elems.service_nom }}</td>
            <td>{{ elems.adresse }}</td>
            <td>{{ elems.code_postal }}</td>
            <td>{{ elems.commune }}</td>
            <td>
                <a class="link" href="tribunal/delete/{{ elems.id }}">
                    <img class="test" src="assets/media/flaticons/see-action.png" width="40">
                </a>
            </td>
            <td>
                <a class="link" href="tribunal/edit/{{ elems.id }}">
                    <img class="test" src="assets/media/flaticons/edit-action.png" width="40">
                </a>
            </td>
            <td>
                <a class="link" href="tribunal/delete/{{ elems.id }}">
                    <img class="test" src="assets/media/flaticons/delete-action.png" width="40">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
<div class="container-new-button">
    <a class="new-button plus" href="tribunal/new">
        <span class="bg" id="plus"></span>
        <span class="symbol"></span>
    </a>
    <p class="title-new-button">
        <h3>Nouveau</h3>
    </p>
</div>

{% endblock %}