{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des défraiements</h1>

<a href="lieustage/new"><button>Nouveau</button></a>

<ul>
    {% for elemt in list %}
        <li>{{ elmt.lieu_nom }} {{ elmt.etablissement_nom }} {{ elmt.commune }} {{ elmt.tel }} 
            <a href="lieustage/edit/{{ elemt.id }}"><button>Modifier</button></a>
            <a href="lieustage/delete/{{ elemt.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="lieustage/new"><button>Nouveau</button></a>

{% endblock %}