{% extends 'template.html.twig' %}

{% block content %}


<form action="animateur/new" method="post" class="form">
  <div class="form-example">
    <h3>Informations</h3>
    <select name="civilite">
        <option value="civilite" selected disabled>Civilité</option>
        {% for elem in civilite %}
        <option value="{{ elem.id }}">{{ elem.nom }}</option>
        {% endfor %}
    </select>

    <label for="nom" name="nom">Nom
    <input type="text" name="nom" id="name" required></label>
    <label for="prenom" name="prenom">Prénom
    <input type="text" name="prenom" id="prenom" required></label>

    <select name="fonction">
        <option value="fonction" selected disabled>Fonction</option>
        {% for elem in fonction %}
        <option value="{{ elem.id }}">{{ elem.fonction_nom }}</option>
        {% endfor %}
    </select>
   
    <select name="statut">
        <option value="statut" selected disabled>Statut</option>
        {% for elem in statut %}
        <option value="{{ elem.id }}">{{ elem.status_nom }}</option>
        {% endfor %}
    </select>
   
    <label for="gta" name="gta">Gestion Technique et Administrative
    <input type="checkbox" name="gta" id="name" required></label>

    <h3>Adresse</h3>
    <label for="raison_sociale" name="raison_sociale">Raison sociale
    <input type="text" name="raison_sociale" id="raison_sociale" required></label>

    <label for="adresse" name="adresse">Numéro et nom de rue
    <input type="text" name="adresse" id="adresse" required></label>

    <label for="code_postal" name="code_postal">Code postal
    <input type="text" name="code_postal" id="code_postal" required></label>

    <label for="ville" name="ville">Ville
    <input type="text" name="ville" id="ville" required></label>

    <label for="region" name="region">Région
    <input type="text" name="region" id="region" required></label>

    

    <h3>Contact</h3>
    <label for="tel_portable" name="tel_portable">Téléphone portable
    <input type="text" name="tel_portable" id="tel_portable" required></label>

    <label for="tel_fixe" name="tel_fixe">Téléphone fixe
    <input type="text" name="tel_fixe" id="tel_fixe" required></label>

    <label for="email" name="email">Adresse e-mail
    <input type="text" name="email" id="email" required></label>

    <input type="submit" value="Envoyer">
</form>

{% endblock %}