{% extends 'template.html.twig' %}

{% block content %}

<h1>Modifier : </h1>


<form action="infraction/new" method="post" class="form">
  <div class="form-example">

     <select name="tribunal">
        <option value="edit_tribunal" selected disabled>Tribunal</option>
        {% for elem in tribunal %}
        <option selected="{{ toEdit.tribunal_id_id }}" value="{{ elem.id }}">{{ elem.tribunal_nom }}</option>
        {% endfor %}
    </select>

    <div>
        Sélectionner les types d'infractions commis :
        {% for elmt in typeInfraction %}
            <label for="{{ elmt.type_infraction_nom }}" name="{{ elmt.type_infraction_nom }}"> {{ elmt.type_infraction_nom }}
            <input type="checkbox" name="{{ elmt.type_infraction_nom }}" value="{{ elmt.id }}"></label>
        {% endfor %}
    </div>

   <label for="date_infraction" name="date_infraction">Date de l'infraction
    <input type="date" name="date_infraction"></label>

    <label for="heure_infraction" name="heure_infraction">Heure de l'infraction
    <input type="time" name="heure_infraction"></label>

     <label for="lieu_infraction" name="lieu_infraction">Lieu de l'infraction (commune)
    <input type="text" name="lieu_infraction"></label>

    <label for="numero_parquet" name="numero_parquet">Numero de parquet
    <input type="text" name="numero_parquet"></label>

    <!-- <label for="conduite_sans_permis" name="conduite_sans_permis">Conduite sans permis
    <input type="checkbox" name="conduite_sans_permis"></label>

    <label for="conduite_sans_assurance" name="conduite_sans_assurance">Conduite sans assurance
    <input type="checkbox" name="conduite_sans_assurance"></label> -->

    <input type="submit" value="Valider">
</form>

{% endblock %}