{% extends 'template.html.twig' %}

{% block content %}
<article class="form">
<form action="stage/new" method="post" class="form">
  {# <div class="form-example"> #}

<h4> Stage </h4>
    <label for="stage_numero" name="stage_numero">Numéro de Stage
    <input type="text" name="stage_numero" id="name" required></label>

    <label for="date_debut" name="date_debut">Date de début
    <input type="date" name="date_debut"></label>

    <label for="date_fin" name="date_fin">Date de fin
    <input type="date" name="date_fin"></label>

    <label for="hpo" name="hpo">Stage hors programme officiel
    <input type="checkbox" name="hpo"></label>

<div>
<h3> Lieu de Stage </h3>
<div>   
    <div id="input_lieu">
        <label  for="lieu_stage_nom" name="lieu_stage_nom">Lieu de Stage
        <input id="lieu_stage" type="text" name="lieu_stage_nom"></label>
        <input id="lieu_stage_hidden" name="lieu_stage_id" type="hidden" value="">
        
        <ul id="lieu_stage_list"></ul>
    </div>

    <label for="etablissement_nom" name="etablissement_nom">Nom de l'établissement : 
    <input id="etablissement_nom" type="text" name="etablissement_nom"></label>

    <label for="numero_agrement" name="numero_agrement">Numéro d'agrément : 
    <input id="numero_agrement" type="text" name="numero_agrement"></label>

    <label for="adresse" name="adresse">Adresse :
    <input id="adresse" type="text" name="adresse"></label> 

    <label for="code_postal" name="code_postal">Code postal :
    <input id="code_postal" type="text" name="code_postal"></label> 

    <label for="commune" name="commune">Commune :
    <input id="commune" type="text" name="commune"></label> 

    <label for="tel" name="tel">Téléphone :
    <input id="tel" type="text" name="tel"></label>

    <label for="latitude" name="latitude">Latitude :
    <input id="latitude" type="text" name="latitude"></label>

    <label for="longitude" name="longitude">Longitude :
    <input id="longitude" type="text" name="longitude"></label>

    <label for="divers" name="divers">Divers :
    <input id="divers" type="text" name="divers"></label>

</div>
</div>
<h3> Animateurs</h3>

<div>
<h5>Animateur 1</h5>

<h6>Informations</h6>
    <select name="civilite" id="civilite_anim">
        <option value="civilite" selected disabled>Civilité</option>
        {% for elem in civilite %}
        <option value="{{ elem.id }}">{{ elem.nom }}</option>
        {% endfor %}
    </select>

{# input de recherche #}
    <div id="input_nom_anim1">
        <label  for="animateur_nom" name="animateur_nom">Nom
        <input id="animateur_nom" type="text" name="animateur_nom"></label>
        <input id="animateur_nom_hidden" name="animateur_nom_id" type="hidden" value="">
        
        <ul id="animateur_nom_list"></ul>
    </div>

    <label for="prenom" name="prenom">Prénom 
    <input type="text" name="prenom" id="prenom" required></label>

    <select name="fonction" id="fonction_anim">
        <option value="fonction" selected disabled>Fonction *</option>
        {% for elem in fonction %}
        <option value="{{ elem.id }}">{{ elem.fonction_nom }}</option>
        {% endfor %}
    </select required>
   
    <select name="statut" id="statut_anim">
        <option value="statut" selected disabled>Statut *</option>
        {% for elem in statut %}
        <option value="{{ elem.id }}">{{ elem.status_nom }}</option>
        {% endfor %}
    </select required>
   
    <label for="gta" name="gta">Gestion Technique et Administrative
    <input type="checkbox" name="gta" id="gta"></label>

    <h6>Adresse</h6>
    <label for="raison_sociale" name="raison_sociale">Raison sociale
    <input type="text" name="raison_sociale" id="raison_sociale" required></label>

    <label for="adresse" name="adresse">Numéro et nom de rue
    <input type="text" name="adresse" id="adresse_anim"></label>

    <label for="code_postal" name="code_postal">Code postal
    <input type="text" name="code_postal" id="code_postal_anim"></label>

    <label for="ville" name="ville">Ville
    <input type="text" name="ville" id="ville"></label>

    <label for="region" name="region">Région
    <input type="text" name="region" id="region"></label>

    
    <h6>Contact</h6>
    <label for="tel_portable" name="tel_portable">Téléphone portable
    <input type="text" name="tel_portable" id="tel_portable" required></label>

    <label for="tel_fixe" name="tel_fixe">Téléphone fixe
    <input type="text" name="tel_fixe" id="tel_fixe" required></label>

    <label for="email" name="email">Adresse e-mail
    <input type="text" name="email" id="email" required></label>

    <h6>Autres</h6>
    <label for="urssaf" name="urssaf">Urssaf
    <input type="text" name="urssaf" id="urssaf"></label>

    <label for="siret" name="siret">SIRET
    <input type="text" name="siret" id="siret"></label>

    <label for="observations" name="observations">Observations
    <input type="text" name="observations" id="observations"></label>

</div>

<h5>Animateur 2</h5>

<h6>Informations</h6>
    <select name="civilite_anim_2" id="civilite_anim_2">
        <option value="civilite_anim_2" selected disabled>Civilité</option>
        {% for elem in civilite %}
        <option value="{{ elem.id }}">{{ elem.nom }}</option>
        {% endfor %}
    </select>

{# input de recherche #}
    <div id="input_nom_anim_2">
        <label  for="animateur_2_nom" name="animateur_2_nom">Nom
        <input id="animateur_2_nom" type="text" name="animateur_2_nom"></label>
        <input id="animateur_2_nom_hidden" name="animateur_2_nom_id" type="hidden" value="">
        
        <ul id="animateur_2_nom_list"></ul>
    </div>

    <label for="prenom_anim_2" name="prenom_anim_2">Prénom 
    <input type="text" name="prenom_anim_2" id="prenom_anim_2" required></label>

    <select name="fonction_anim_2" id="fonction_anim_2">
        <option value="fonction_anim_2" selected disabled>Fonction *</option>
        {% for elem in fonction %}
        <option value="{{ elem.id }}">{{ elem.fonction_nom }}</option>
        {% endfor %}
    </select required>
   
    <select name="statut_anim_2" id="statut_anim_2">
        <option value="statut_anim_2" selected disabled>Statut *</option>
        {% for elem in statut %}
        <option value="{{ elem.id }}">{{ elem.status_nom }}</option>
        {% endfor %}
    </select required>
   
    <label for="gta_anim_2" name="gta_anim_2">Gestion Technique et Administrative
    <input type="checkbox" name="gta_anim_2" id="gta_anim_2"></label>

    <h6>Adresse</h6>
    <label for="raison_sociale_anim_2" name="raison_sociale_anim_2">Raison sociale
    <input type="text" name="raison_sociale_anim_2" id="raison_sociale_anim_2" required></label>

    <label for="adresse_anim_2" name="adresse_anim_2">Numéro et nom de rue
    <input type="text" name="adresse_anim_2" id="adresse_anim_2"></label>

    <label for="code_postal_anim_2" name="code_postal_anim_2">Code postal
    <input type="text" name="code_postal_anim_2" id="code_postal_anim_2"></label>

    <label for="ville_anim_2" name="ville_anim_2">Ville
    <input type="text" name="ville_anim_2" id="ville_anim_2"></label>

    <label for="region_anim_2" name="region_anim_2">Région
    <input type="text" name="region_anim_2" id="region_anim_2"></label>

    
    <h6>Contact</h6>
    <label for="tel_portable_anim_2" name="tel_portable_anim_2">Téléphone portable
    <input type="text" name="tel_portable_anim_2" id="tel_portable_anim_2" required></label>

    <label for="tel_fixe_anim_2" name="tel_fixe_anim_2">Téléphone fixe
    <input type="text" name="tel_fixe_anim_2" id="tel_fixe_anim_2" required></label>

    <label for="email_anim_2" name="email_anim_2">Adresse e-mail
    <input type="text" name="email_anim_2" id="email_anim_2" required></label>

    <h6>Autres</h6>
    <label for="urssaf_anim_2" name="urssaf_anim_2">Urssaf
    <input type="text" name="urssaf_anim_2" id="urssaf_anim_2"></label>

    <label for="siret_anim_2" name="siret_anim_2">SIRET
    <input type="text" name="siret_anim_2" id="siret_anim_2"></label>

    <label for="observations_anim_2" name="observations_anim_2">Observations
    <input type="text" name="observations_anim_2" id="observations_anim_2"></label>

</div>
 
    {# TOM #}
    <h3>Stagiaires</h3>
    <div>
        
        <select id="stagiaire_civilite" name="stagiaire_civilite">
            <option value="civilite" selected disabled>Civilité</option>
            {% for elmt in civilite %}
                <option value="{{ elmt.id }}">{{ elmt.nom }}</option>
            {% endfor %}
        </select>

        <div id="input_stagiaire">
            <label for="stagiaire_nom" name="stagiaire_nom">Nom
            <input id="stagiaire" type="text" name="stagiaire_nom"></label>
            <input id="stagiaire_hidden" name="stagiaire_id" type="hidden" value="">
            
            <ul id="stagiaire_list"></ul>
        </div>

        <label for="stagiaire_prenom" name="stagiaire_prenom">Prénom
        <input id="stagiaire_prenom" type="text" name="stagiaire_prenom"></label>

        <label for="stagiaire_nom_naissance" name="stagiaire_nom_naissance">Nom de naissance
        <input id="stagiaire_nom_naissance" type="text" name="stagiaire_nom_naissance"></label>

        <label for="stagiaire_date_naissance" name="stagiaire_date_naissance">Date de naissance
        <input id="stagiaire_date_naissance" type="date" name="stagiaire_date_naissance"></label>

        <label for="stagiaire_lieu_naissance" name="stagiaire_lieu_naissance">Lieu de naissance
        <input id="stagiaire_lieu_naissance" type="text" name="stagiaire_lieu_naissance"></label>

        <label for="stagiaire_adresse" name="stagiaire_adresse">Adresse
        <input id="stagiaire_adresse" type="text" name="stagiaire_adresse"></label>

        <label for="stagiaire_code_postal" name="stagiaire_code_postal">Code Postal
        <input id="stagiaire_code_postal" type="text" name="stagiaire_code_postal"></label>

        <label for="stagiaire_commune" name="stagiaire_commune">Commune
        <input id="stagiaire_commune" type="text" name="stagiaire_commune"></label>

        <label for="stagiaire_pays" name="stagiaire_pays">Pays
        <input id="stagiaire_pays" type="text" name="stagiaire_pays"></label>

        <label for="stagiaire_tel_portable" name="stagiaire_tel_portable">téléphone portable
        <input id="stagiaire_tel_portable" type="text" name="stagiaire_tel_portable"></label>

        <label for="stagiaire_tel_fixe" name="stagiaire_tel_fixe">Téléphone fixe
        <input id="stagiaire_tel_fixe" type="text" name="stagiaire_tel_fixe"></label>

        <label for="stagiaire_email" name="stagiaire_email">Email
        <input id="stagiaire_email" type="email" name="stagiaire_email"></label>

        <label for="stagiaire_carte_avantages_jeunes" name="stagiaire_carte_avantages_jeunes">Carte avantages jeunes
        <input id="stagiaire_carte_avantages_jeunes" type="checkbox" name="stagiaire_carte_avantages_jeunes"></label>

        <label for="stagiaire_partenaires" name="stagiaire_partenaires">Partenaires
        <input id="stagiaire_partenaires" type="checkbox" name="stagiaire_partenaires"></label>

        <label for="stagiaire_adherents" name="stagiaire_adherents">Adhérents
        <input id="stagiaire_adherents" type="checkbox" name="stagiaire_adherents"></label>

        <input id="stagiaire_ajout" type="button" value="Ajouter ce stagiaire au stage">
    </div>

</div>
    <input type="submit" value="Valider">
</div>


</form>
</article>

{% endblock %}